html, body {
	height: 100%;
}

#plotWrapper {
	height: 100%;
	width: 100%;
}

#plotcanvas {
	width: 100%;
	height: 100%;
}

#overlay {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	display: none;
}

.list-item {
	display: inline-block;
	padding: 1em;
	box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.25);
}

.list-item > div.description-element {
	color: #888;
	font-family: sans-serif;
	font-size: large;
	margin-top: 0.5em;
}

/* GROUP CSS */
.group-item {
	display: inline-block;
	padding: 1em;
	box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.5);
}

.group-previews {
	overflow: auto;
}

.group-controls {
	padding: 1em 0em 0em 0em;
}

.preview-element {
	width:20px;
	height:20px;
	background:gainsboro;
	float: left;
	max-width: 90%;
}

.preview-element:hover {
	background:gray;
}

.btn-circle { 
	width: 20px; 
	height: 20px; 
	border: none;
	border-radius: 10px;  
	text-align: center;
	text-decoration: none;
	display: inline-block;
	float: right;
	background-color: #e7e7e7; // Gray
	color: black;
	cursor: pointer;
}

.btn-circle > i {
	vertical-align: middle;
}



/* GENERAL BUTTONS */
.btn {
  border: none;
  border-radius: 6px;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #e7e7e7; // Gray
  color: black;
}

.btn-success {
  background-color: #4CAF50; // Green
  color: white;
}

.btn-info {
  background-color: #008CBA; // Blue
  color: white;
}





/* Styling for the contour plot tooltip */
.contourTooltip {
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px 5px 5px;
	position: absolute;
	left: 85.25px; 
	top: 100px;
}

.contourTooltip::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}